<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.letsthrough">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Letsthrough"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,android:icon">
        <activity android:name=".SplashActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Letsthrough"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashActivity2" />
        <activity android:name=".SplashActivity3" />
        <activity
            android:name=".AccountActivity.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".AccountActivity.SignupActivity"
            android:label="Register" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.AccountMainActivity" />
        <activity android:name=".fruits" />
        <activity android:name=".beverages" />
        <activity android:name=".Household" />
        <activity android:name=".Details" />
        <activity android:name=".Amount" />
        <activity android:name=".Vegetables"></activity>
    </application>

</manifest>